* {
  margin: 0px;
  box-sizing: border-box;
  font-family: "DynaPuff", system-ui;
}

body {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* ---------- Header ---------- */

header {
  background-color: rgb(42, 39, 88);
  padding-top: 20px;
}

h1 {
  font-size: 70px;
  color: white;
}

nav {
  background-color: rgb(138, 107, 207);
  padding: 15px;
  font-size: 20px;
  margin-top: 20px;
}

ul {
  list-style: none;
  display: flex;
  width: fit-content;
  margin: auto;
}

li {
  margin-right: 30px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: rgb(219, 205, 255);
}

/* ---------- Main ---------- */

section {
  padding: 20px;
  overflow: hidden;
  background-color: #403477;
}

#welcome {
  width: 100%;
  margin: 20px auto;
  background-image: url(./images/forest.png);
  background-size: cover;
  height: 500px;
}

#welcome article {
  width: 70%;
  height: 70%;
  margin: 30px auto;
  background-color: rgba(205, 172, 255, 0.7);
}

article {
  background-color: rgb(247, 215, 250);
  padding: 20px;
  border-radius: 30px;
  border: 3px solid white;
  box-shadow: 5px 5px 3px 1px rgba(0, 0, 0, 0.7);
}

.sub-article {
  float: left;
  width: 44%;
  height: 450px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 4%;
}

.main-article {
  height: 550px;
}

img {
  max-width: 80%;
  max-height: 70%;
}

p {
  margin-top: 10px;
}

/* ---------- Footer ---------- */

footer {
  background-color: rgb(36, 20, 76);
  padding: 20px;
  height: 150px;
}

footer a {
  color: white;
}
